﻿@model StorageExample.Models.Car

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Car", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Car</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CarId)

        <div class="form-group">
            @Html.LabelFor(model => model.VIN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VIN)
                @Html.ValidationMessageFor(model => model.VIN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mileage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mileage)
                @Html.ValidationMessageFor(model => model.Mileage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarModelId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CarModelId")
                @Html.ValidationMessageFor(model => model.CarModelId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhotoFile, "Choose image", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.PhotoFile, new { type = "file" })
                @Html.ValidationMessageFor(x => x.PhotoFile)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
