﻿@model IEnumerable<StorageExample.Models.Car>

@{
    ViewBag.Title = "Index";
}

@section styles {
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
}

@section scripts{

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $(document).ready(function () {
        $("#carGrid").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "order": [[ 1, "asc" ]],
            "pageLength": 4,
            "lengthMenu": [2, 4, 10, 12, 20],
            "oLanguage": {
                "sSearch": "Manufacturer or model:"
            },
            "ajax": {
                "url": "/Car/LoadData",
                "type": "POST",
                "datatype": "json",
            },
            "columnDefs": [
                {
                    "targets": [1, 2],
                    "searchable": true,
                    "orderable": true,
                },
                {
                    "targets": [3],
                    "searchable": false,
                    "orderable": true,
                },
                {
                    "targets": ["_all"],
                    "searchable": false,
                    "orderable": false,
                },
            ],
            "columns": [
                {
                    "name": "PreviewImage",
                    "render": function (data, type, full, meta)
                        { return "<img src='@Url.RouteUrl(new { controller = "Image", action = "Get" })/" + full.Photo + "' class='preview-item-image'>"; }
                },
                { "data": "Manufacturer", "name": "Manufacturer", "autoWidth": true },
                { "data": "CarModel", "name": "CarModel", "autoWidth": true },
                { "data": "Price", "name": "Price", "autoWidth": true },
                { "data": "Mileage", "title": "Mileage", "name": "Mileage", "autoWidth": true },
                { "data": "MaxSpeed", "name": "MaxSpeed", "autoWidth": true },
                { "data": "VIN", "name": "VIN", "autoWidth": true },
                {
                    data: null, render: function (data, type, row) {
                        return "<a href='@Url.RouteUrl(new { controller = "Car", action = "Details" })/" + row.CarId + "'>Details</a> | " + 
                        "<a href='@Url.RouteUrl(new { controller = "Car", action = "Edit" })/" + row.CarId + "'>Edit</a> | " +
                        "<a href='@Url.RouteUrl(new { controller = "Car", action = "Delete" })/" + row.CarId + "'>Delete</a>" 
                    }
                },
            ],
        });
    }); 
</script>
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="width:90%; margin:0 auto;">
    <table id="carGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Image</th>
                <th>Manufacturer</th>
                <th>Car model</th>
                <th>Price</th>
                <th>Mileage</th>
                <th>MaxSpeed</th>
                <th>VIN</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>